
//Theme colors

$theme-color-default   : #C72828; // using for default color of all pages such as background color for top menu, block header
$theme-color-primary   : #2E3A47; // using for default color of all pages such as background color for , block , and other
$theme-color-secondary : #F05423;  // for hightligh block header, text , button as default it is  color, and other
$theme-color-threedary : #8C8C8C;  // for button as default it is  color
$image-theme-path 					:'../../images/red/';

$theme-font-path:  		  "../../fonts/";


$link-color:  				$theme-color-primary ;
$link-color-hover: 			$theme-color-default !default;
$link-hover-color: 			$theme-color-default !default;
$theme-color:               $theme-color-default !default;
